apiVersion: apps/v1
kind: Deployment
metadata:
  name: data-processing
spec:
  replicas: 4
  selector:
    matchLabels:
      app: data-processing
  template:
    metadata:
      labels:
        app: data-processing
    spec:
      containers:
      - name: worker
        image: data-processing:latest
        imagePullPolicy: IfNotPresent
        volumeMounts:
        - mountPath: /data
          name: data-volume
      volumes:
      - name: data-volume
        persistentVolumeClaim:
          claimName: pipeline-data-pvc
